<html>
        <head>
                
                <link rel="stylesheet" href="style.css">
            </head>
<body>
    <h1>
            <a href="/">Home</a>
            <a href="showall">showall</a>
    </h1>
        
    <form action="/registration" method="POST">
    <label>Task name</label>
    <input type="text" name="name"/> </br>
    <label>Task due</label>
    <input type="text"  name="duedate"/> </br>
    <label> Task Desc</label>
    <input type="text"  name="Description"/></br>
    <button ><input type="submit" ></button>
    </form>
</body>
</html>
