<html>
<head>
        <head>
                
                <link rel="stylesheet" href="style.css">
        
    <style>
        table,th,td {
            border: 1px solid black;
        }
        
    </style>
</head>
<body>
    <h1 > 
        <a href="/">Home page</a>
        <a href="addnew">addnew</a>
        <a href="delete">delete</a>
        <a href="deleteall">delete all</a>
        <a href="update">update</a>
        <a href="showall">showall</a>
        <a href="developer">add developer</a>
    </h1>
    </br>
    <h3>
        <table>
            <tr>
                <td>id</td>
                <td>firstname</td>
                <td>lastname</td>
                <td>level</td>
                <td>state</td>
                <td>suburb</td>
                <td>street</td>
                <td>unit</td>
            
            </tr>
            <% for(var i =0; i< db.length;i++){ %>
                <tr>
                    <td>
                        <%= db[i]._id %>
                    </td>
                    <td>
                        <%= db[i].name.firstname %>
                    </td>
                    <td>
                        <%= db[i].name.lastname %>
                    </td>
                    <td>
                        <%= db[i].level %>
                    </td>
                    <td>
                        <%= db[i].address.state %>
                    </td>
                    <td>
                        <%= db[i].address.suburb %>
                    </td>
                    <td>
                        <%= db[i].address.street %>
                    </td>
                    <td>
                        <%= db[i].address.unit %>
                    </td>
                </tr>
                <% } %>
            </table>
    </h3>
</body>
</html>