<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Delete User</h1></br>
    <h1>
        <a href="/">Insert Users</a>
        <a href="addnew">addnew</a>
        <a href="showall">showall</a>
        <a href="deleteall">delete all</a>
        <a href="update">update</a>
        <a href="developer">add developer</a>
        <a href="alldeveloper">all developer</a>
    </h1>
    <form action="/deletetask" method="POST">
        Task ID <input type="text" name="taskid" /> </br>
        <input type="submit"/> </br>
    </form>
</body>
</html>