<html>
        <head>
                
                <link rel="stylesheet" href="./style.css">
            </head>
<body>
    <h1>
        <a href="/">Home</a>
        <a href="addnew">addnew</a>
        <a href="showall">showall</a>
        <a href="delete">delete</a>
        <a href="deleteall">delete all</a>
        <a href="update">update</a>
        <a href="alldeveloper">all developer</a>
    </h1>
        
    <form action="/deveregistration" method="POST">
    <label>firstname</label>
    <input type="text" name="firstname"/> </br>
    <label>lastname</label>
    <input type="text" name="lastname"/> </br>
    <label>level</label>
    <input type="text"  name="level"/> </br>
    <label>state</label>
    <input type="text" name="state"/> </br>
    <label> suburb</label>
    <input type="text"  name="suburb"/></br>
    <label> street</label>
    <input type="text"  name="street"/></br>
    <label> unit</label>
    <input type="text"  name="unit"/></br>
    <button ><input type="submit" ></button>
    </form>
</body>
</html>