<html>
        <head>
                <link rel="stylesheet" href="style.css">
        </head>
<body>
    <h1>Update User</h1></br>
    <h1>
        <a href="/">Homepage</a>
        <a href="addnew">addnew</a>
        <a href="showall">showall</a>
        <a href="delete">delete</a>
        <a href="deleteall">delete all</a>
        <a href="update">update</a>
    </h1>
    <form action="/updatetask" method="POST">
        Task ID <input type="text" name="taskid" /> </br>
        Status <input type="text"  name="status" /> </br>
        <input type="submit" /> </br>
    </form>
</body>
</html>